html{
    background-image: url(夢鯖絵文字.png);
    background-size: auto;
}
#title{
    color: blue;
    text-align: center;
    font-size: 50px;
}
#subtitle{
    color: rgb(226, 43, 134);
    text-align: center;
    font-size: 35px;
}
#hima{
    color: orangered;
}
#bye{
    color: green;
}
#god{
    color: cadetblue;
}
/*ここから先class*/
.go{
    color: blue;
    font-size: 35px;
}
.back{
    position: sticky;
    text-align: left;
    color: brown;
    font-size: 35px;
}
.partition{
    font-size: 55px;
    text-align: center;
}
.text{
    font-size: 35px;
    text-align: center;
    color: red;
}
.text_1{
    font-size: 35px;
    text-align: center;
    color: blue;
}
.info{
    font: italic;
    font-size: 25px;
    text-align: center;
    text-decoration: white;
}
